footer {
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    height: 6vh;
    background-color: var(--foot-color);
}

#divisor_footer {
    box-shadow: initial;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;

}

.Direitos {
    width: 70%;
    font-family: 'Montserrat', regular;
    font-size: clamp(8px, 2vw, 10px);

}

.Direitos h4,
.Direitos a {
    color: white;
    margin-top: 1.5%;
}

.social_footer {
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color1);
  
  }
  
  .social-links {
    display: flex; 
    gap: 55px; 
    align-items: center; 
    list-style: none;
    margin-right: 13%; 
}
  
  .social-links a {
    display: inline-block; 
    position: absolute;
    height: 100%; 

}

.social-links img {
    height: 30%;
}

#footer_separador {
    height: 50%;

}
.Atendimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    color: white;
}

.Atendimento h1,
.social_footer h1 {
    font-size: clamp(8px, 5vh, 22px);
    font-family: 'Lily Script One';
}

.Atendimento p {
    font-size: clamp(8px, 5vh, 8px);
    font-family: 'Montserrat';
}

#footer_separador {
    height: 50px; /* Change the height to your desired value */
    width: auto;  /* You can set a specific width if needed */
}

@media (max-width: 900px) {
    footer {
        height: 60vh;
        position: relative;
 
    }

    #divisor_footer {
        height: 5%;
    }
    .social_footer {
        display: flex;
        position: absolute;
        margin-top: 10%;
        margin-left: -5%;
        height: 100%;
        align-items: center;
        width: 100%;
        gap: 5%;
    }

    .social_footer h1,
    .Atendimento h1 {
        font-size: clamp(16px, 6vh, 60px);
        align-items: center;
    }
    .social-links img {
        height:10%;
        display: inline-flex;
    }

    #Instagram {
        left:30%;
    }

    #Whatsapp {
        right: 30%;
    }

    .Atendimento {
        justify-content: center;
        width: 100%;
        right: 100%;
        margin-top: 25%;
    }
    .Atendimento p {
        font-size: clamp(8px, 5vh, 18px);
    }

    .Direitos {
        top: 80%;
        width:80%;
        display: flex;
        position: absolute;
        font-family: 'Montserrat', regular;
        font-size: clamp(8px,3vw, 30px);
    }

    #footer_separador {
        display: none;
    }

}



