.Catalogo {
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Defina a altura mínima como 100% da altura da janela (viewport) */
    top: 20%;
    overflow: hidden;
}

.all_products {
    display: flex;
    left: 0;
    height: 100%;
    position: absolute;
    width: 100%;
}

.ribbon_allproducts {
    height: 15%;
    width: 100%;
    font-family: 'Lily Script One';
    color: #FFFFFF;
}

.ribbon_allproducts img {
    margin-left: 15%;
    width: 60%;
    height: 100%;
}

.ribbon_allproducts h1 {
    margin-left: 45%;
    margin-top: -5%;
}

.filter {
    left: 2%;
    top: 18%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.nav_filter {
    width: 100%;
    position: relative;
}

.search  .fas fa-search {
    border: none;
}

#search-box {
    background-color: #FFFFFF;
    border: none;
    height: 20px;
}
.filter h2 {
        font-family: 'Montserrat';
        font-size: 10px;
}

#order,
#filter {
    display: flex;
    position: absolute;
    border: none;
    top: 0;
    height: 25px;
    align-items: center;
    gap: 5%;
    background-color: #FFFFFF;
}

#order {
    margin-left: 79%;
    width: 10%;
}

#filter {
    margin-left: 90%;
    width: 5%;
}

#order img,
#filter img {
    margin-left: 5%;
    height: 15px;
}

.filter ul {
    margin-top: 5%;
    width: fit-content;
    font-family: 'Lily Script One';
    color: var(--font-color2);
}

.filter ul li {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter ul li:hover { 
    cursor: pointer;
}

.filter ul li img {
    width: 100%;
}

.Product {
    display: flex;
    position: absolute;
    flex: 1;
    margin: 0;
    width: 85%;
    margin-top: 12%;
    height: 100%; /* Defina a altura como 100% da altura da janela (viewport) */
    left: 15%;
    background-color: red;
}