.banner {
    margin-top: 9%;
    position: inherit;
    display: flex;
    background-image: url(../../Assets/src/image/main/cookie\ bg.png);
    background-size: 11vh auto;
    background-position-x: 0px;
    background-repeat: repeat-x;

}

.banner_img {
    margin-top: 1.8%;
    position: relative;
    border: 1vh solid var(--primary-color);
    border-bottom-width: 8vh;
    background-color: var(--primary-color);
    overflow: hidden; 
}

.banner_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.54));
}

.banner .toldo-set {
    top: 36%;
    position: absolute;
}

.mais_procurados {
    display: grid;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 100vh;
}

.Background {
    opacity: 40%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.line1,
.line3,
.line5 {
    flex: 1;
    background-image: url(../../Assets/src/image/main/cookie\ bg.png);
    background-size: 14%;
    background-position: 23.5%;
}

.line2,
.line4 {
    flex: 1;
    background-image: url(../../Assets/src/image/main/cookie\ bg.png);
    background-size: 14%;
    background-position: 32%;
}

.ribbon {
    display: flex;
    width: 100%;
    margin-bottom: 37%;
    justify-content: center;
    align-items: center;

}

.ribbon h1 {
    position: absolute;
    font-family: 'Lily Script One';
    color: white;
    margin-top: 1%;
}

.ribbon img {
    margin-right: 7%;
    filter: saturate(200%);
    height: 16vh;
}

.productpopular {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: end;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#listaProdutos {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 12%;
    height: auto;
    width: 100%;
}

.produto-imagem {
    position: relative;
    width: 62%;
    border-radius: 40px;
    margin-left: 10%;
    margin-bottom: 10%;
    
    transition: all 1.5s;
}

.produto-imagem:hover {
    cursor: pointer;
    position: relative;
    border-radius: 100px;
    box-shadow: 0 0 0 2px rgba(212, 148, 149, 0.6); 
    background-color: rgba(212, 148, 149, 0.6);
    transition: all 1.5s;
    transform: scale(1.2);
}

#listaProdutos .produto-imagem:not(:hover) {
    transform: scale(1);
    transition: all 1.5s;
    
}


.produto-nome,
.produto-valor,.produto-display {
    display: none;
}
