
/* Estilo para as imagens nas redes sociais */
#instagram img {

    width: 23px; /* Largura desejada para a imagem do Instagram */
    height: 23px; /* Mantém a proporção original */
    align-items: end;
    
    /* Outros estilos desejados para a imagem do Instagram */
}

#whatsapp img {
    width: 23px; /* Largura desejada para a imagem do WhatsApp */
    height: 23px; /* Mantém a proporção original */
    
    /* Outros estilos desejados para a imagem do WhatsApp */
}


footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 111px;
    bottom: 0;
    background-color: var(--foot-color);
    font-family: 'Lily Script One';
    padding-top: 17px;

}

#direitos {
    position: absolute;
    font: 15px;
    margin-left: 20px;
    font-family: 'Montserrat';
    color: #ffffff; /* Cor do texto desejada */
    /* Outros estilos desejados */
}

#Elements {
    position: absolute;
    height: 90px;
    margin-left: 990px;
    top: 20%;
}

#footer_social_media {
    display: flex;
    position: relative;
    height: 100%;
    margin-left: 1075px;
    gap: 50px;
    top: 40%;
}

#footer_social_media a {
    display: inline-block; /* Garante que a âncora tenha a largura e altura da imagem */
    font-size: 22px;
    text-decoration: none;
    color: var(--font-color1);

}

footer h1 {
    position: absolute;
    max-width: auto;
    margin-left: 1060px;
    font-size: 22px;
    color: var(--font-color1);
}

#footer_contacts {
    position: absolute;
    margin-left: 800px;
    font-family: 'Montserrat';
    font-size: 10px;
    color: #ffffff;
}
footer h2 {
    font-size: 22px;
    font-family: 'Lily Script One';
}

footer h3 {
    top: 40%;
    margin-left: -20px;
}

footer h4 {
    margin-top: 10px;
}

