
footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: var(--foot-color);
    font-family: 'Lily Script One';
}

#instagram img,
#whatsapp img {
    display: flex;
    height: 4.5vh;
    margin-right: 5vh;
}

#direitos {
    position: absolute;
    top: 50%;
    font-size: 3vh;
    margin-left: 10vh;
    font-family: 'Montserrat';
    color: #ffffff;
    transform: translateY(-50%);
    left: 0; /* Ajustado para a esquerda */
    z-index: 1;
}

#direitos a {
    display: block;
    margin-top: 1vh;
    color: #FFFFFF;
    font-size: 70%;
}


#footerline {
    background-color: #C5585B;
    box-shadow: inset;
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 10%;
    width: 100%;
}

#footer_social_media {
    display: flex;
    position: relative;
    max-width: 100%;
    width: 14vh;
    margin-left: 188vh;
    top: 60%;
    z-index: 1;
}

footer h1 {
    position: absolute;
    top: 20%;
    width: 100%;
    max-width: 100%;
    margin-left: 87%;
    color: var(--font-color1);
    font-size: 4vh;
}

#footer_contacts {
    position: absolute;
    top: 20%;
    max-width: 100%;
    width: 100%;
    margin-left: 65%;
    font-family: 'Montserrat';
    font-size: 10px;
    color: #ffffff;
    padding-left: 2vh;
}

#Elements {
    margin-left: 177vh;
    vertical-align: middle;
}

footer h2 {
    font-size: 4vh;
    margin-left: 5vh;
    font-family: 'Lily Script One';
}

footer h3 {
    top: 40%;
    font-size: 2vh;
    margin-left: 1vh;
}

footer h4 {
    margin-top: 2vh;
    font-size: 2vh;
    margin-left: 4vh;
}
