
main {
    flex: 1;
    background: whitesmoke;
    inset: 0;
    
    background-image: 
      url(./image/biscoito\ barras.png); /* Primeiro background */
    background-repeat: repeat-x;
    background-size: 11vh auto;
    background-position-x: 0px; /* Ajuste o valor para aumentar o espaçamento */
    background-position-y: 34vh;
    
}

/* A tend effect */
#tendhate{
    display: grid;
    position: absolute;
    height: 11vh;
    width: 150%;
    
}

.tend {
    padding-top: 2vh;
    background-color: var(--primary-color);
    display: grid;
    position: absolute;
    z-index: 1;  
    width: 100vw;
}

.secundary_nav a img {
    pointer-events: none;
    position: absolute;
    padding-left: 407vw;

}

#line_sec_nav2 {
    top: 8vh;
    padding-left: 7vh;
    height: 13vh;


  
}
#line2 {

    width: 100vw;
    padding-top: 1vh;

}
#line1 {
    width: 100vw;
    padding-top: 1vh;
}
/* end of tend */
.secundary_nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 9.9vh;
    padding-top: 10vh;
    column-gap: 6vw;
}

.secundary_nav a {
    width: auto;
    text-decoration: none;
    font-family: 'Lily Script One';
    font-size: 6vh;
    color: var(--font-color2);
}
.secundary_nav a:hover {
    transform: translateY(-0.5vh); /* Move o texto 3 pixels para cima */
    text-decoration: underline;
}


#banner {
    display: grid;
    position: relative;
    margin-top: 4.6%;
    background: var(--primary-color);
}

.image-container {
    position: relative;
    border: 1vh solid var(--primary-color);
    border-bottom-width: 11vh;
}

.image-container img {
    width: 100%;
    height: cover;
    background: var(--primary-color);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.657) 12.5%, rgba(0, 0, 0, 0.657) 75.79%, rgba(0, 0, 0, 0.65) 12%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.657) 12.5%, rgba(0, 0, 0, 0.657) 75.79%, rgba(0, 0, 0, 0.65) 12%);
}

#maintend {
    width: 100%;
    display: grid;
    position: absolute;
    z-index: 1; /* Defina o z-index de maintend como 1 (maior que banner) */
    top: 116vh; /* Posicione a partir do final de #banner */
}

#mainline1 {
    display: grid;
    position: absolute;
    z-index: 2; /* Defina o z-index de mainline1 como 2 (maior que maintend) */
    top: 115vh;
    height: 0.5vh;
    width: 100%;
}

#mainline2 {
    width: 100%;
    height: 0.8%;

    display: grid;
    position: absolute;
    z-index: 3; /* Defina o z-index de mainline2 como 3 (maior que mainline1) */
    top: 116vh; /* Posicione a partir do final de #banner */
}

.MostPopular {

    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 8%;

}

.displayPopular {
    margin-top: 22vh;
    background-image: url(./image/biscoito\ barras.png); 
    background-image: url(./image/biscoito\ barras.png); 
    background-size: 35vh;
    background-repeat: repeat;
    z-index: 1;
    width: 100%;

  
}

.MostPopular h1 {
    position: absolute;
    margin-top: 4%;
    left: 50%; /* Alinhe o lado esquerdo do h1 no meio horizontal */
    transform: translateX(-50%); /* Centralize o h1 horizontalmente */
    z-index: 1;
    font-family: 'Lily Script One';
    font-size: 8vh;
    color: #FFFFFF;
}
#ribbonid {
    position: absolute;
    top: 58vh;
 
}
.MostPopular img {
    filter: saturate(200%);
    position: relative;
    transform: translate(-50%, -50%); /* Centralize a imagem vertical e horizontalmente */
    z-index: 0;
    width: 100%;
    
}

/* PRODUTOS */
.productpopular {
    display: flex;
    flex-wrap: wrap;

   
}

.productpopular .produto {
    margin-right: 10vh; /* Aumente a margem à direita para criar mais espaço entre as imagens */
    margin-left: 10vh; /* Mantenha a margem à esquerda */
    padding-top: 60vh;
    display: inline-block;
}



.productpopular .produto-imagem {
    
    width: 40vh;
    left: 17vw;

    height: 100%;
}


.productpopular .produto-nome,
.productpopular .produto-valor {
    display: none;
}




















