nav {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vh;
    height: 17vh;
    width: 100%;
    position: relative;
  }
  
  .Logo {
    display: flex;
    position: relative;
    width: 8vw;
    height: 18vh;
  }
  
  .Navigation {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  nav a {
    position: relative;
    margin-right: 0vw;
    padding-left: 11vh;
    padding-top: 3vh;
    font-family: 'Lily Script One';
    font-size: 5vh;
    text-align: justify;
    text-decoration: none;
    color: var(--font-color1);
    z-index: 2; /* Ensure the links are displayed above the images */
  }
  
  nav a:hover {
    transform: translateY(-0.3vh); /* Move o texto 3 pixels para cima */
  }
  .Images {
    position: absolute;
    right: 8vw;
    top: 0;
    z-index: 1; /* Ensure the images are behind the links */
  }
  
  .Images img {
    display: inline-block;
    margin-top: 3vh;
    margin-right: 16vw;
    padding-left: 0.8vw;
    height: 16vh;
  
  }
  
  #navline2 {
    display: inline-block;
    margin-right: 14vw;
  }
  
  #navline3 {

    display: inline-block;
    margin-right:7vh;
  }
  
  
  

  